<h1>My Garden</h1>

<div class="row container">
	<div>
	<% user.plants.forEach(function(plant) {%>
	<div class="col s6" class="block js-equal-height">
				<div class="divider"></div>
					<a href="<%- plant.id%>"><%= plant.name %></a>
						<div class="truncate" class="float-text"><%= plant.info %></div>
						<div><img style="border-radius: 50px" class="showplants responsive-img" src="<%- plant.image %>">
						</div>
						
						<a href="/plants/<%= plant.id %>" class="deleteplant"><i class="material-icons">close</i>Remove From Garden</a>						
			</div>
		<% }); %>
	</div>	
</div>