<div class="row">
	<div class="showplant">
		<a href="/plants" class="green lighten-1 waves-effect waves-light btn-large">See All Vegetables</a>
		<a href="/plants/garden" class="green lighten-1 waves-effect waves-light btn-large">See My Garden</a>

		<h3>
			<a href="/months/<%= month.id -1 %>"><i class="material-icons">chevron_left</i></a>
			<%= month.name %>
			<a href="/months/<%= month.id +1 %>"><i class="material-icons">chevron_right</i></a>
		</h3>
	</div>	
</div>


<div class="row">
	<div class="centerit col s6">
		<h5>To Sow this month:</h5>
		<div>
			<ul>
				<% seed1.forEach(function(plant) { %>
					<li><%= plant.name %></li>
					<li><img class="circle" width="50px" src="<%= plant.image %>"></li>
				<% }) %>
			</ul>	
		</div>	
	</div>
	<div class="centerit col s6">
		<h5>To Harvest this month:</h5>
		<div>
			<ul>
				<% harvest1.forEach(function(plant) { %>
					<li><%= plant.name %></li>
					<li><img class="circle" width="50px" src="<%= plant.image %>"></li>
				<% }) %>
			</ul>	
		</div>			
	</div>	
</div>